.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background: url(../../../assets/admin-bg.jpg) no-repeat center / cover;
}

.form-login {
  padding: 10px 20px;
  min-height: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 10px 0 #fff;
  font-size: 20px;
}

.form-login input {
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
}

.form-login input.invalid {
  border-color: red;
}

.form-login input:focus {
  outline: 0;
  box-shadow: 0 0 5px 0 #000;
}

.submitHint {
  font-style: italic;
  font-size: 16px;
  margin-top: 2em;
}

@media screen and (max-width: 560px) {
  .form-login {
    text-align: center;
    max-width: 80%;
  }

  .form-login input {
    width: 100%;
    margin-top: 1em;
  }
}
